@CHARSET "UTF-8";

#micro-activity-overlay {
  display: none;
  background-color: #cccccc;
  padding: 10px;
  font-size: 10px;
  top: 0; left: 0;
  z-index: 1;
  position: absolute;
  width: 400px;
  border: 1px solid #bbbbbb;
}